html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  background-color: white;
  color: #006c21;
  border: solid 2px #006c21;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #006c21;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}