.navbar {
  height: 100px;
  background-color: #006c21;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,108,33,0.4);
}

.navbar img.logo {
  height: 70px;
  object-fit: contain;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.col-6 {
  flex: 0 0 50%;
}